
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("../images/cork-board.png");
}


/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: lightyellow;
  /* position: fixed; */
  margin: 10px;
}

/* Style the navbar logo */
#logo{
  font-family: 'Dancing Script', cursive;
  font-size: 36px;
  font-weight: 700;
  background-color: salmon;
  /* margin-left: 200px; */
}


/* Style the navbar links */
.navbar a {
  float: left;
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar .jumpbutton{
  float: right;
  /* margin-right: 200px; */
}


/* Change color on hover */
.navbar a:hover {
  background-color: lightblue;
  color: blue;
}


/* Create main content */
.maincontent {
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Satisfy', cursive;
  font-size: 26px;
  color: rgb(32, 68, 48);
}

img{
  margin-right: 20px;
  float: left;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

/* Style the footer */
.footer {
  background-color: lightyellow;
  color: grey;
  padding: 10px;
  text-align: center;
}
