* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("../images/cork-board.png");
}

.navbar {
  max-width: 100%;
  margin: 0 auto;
  overflow: auto;
  background-color: lightyellow;
  margin: 10px 0;
}

#logo{
  float: left;
  font-family: 'Great Vibes', cursive;
  font-size: 36px;
  font-weight: 700;
  width: 300px;
  background-color: salmon;
}

/* Style the navbar links */
a {
  float: left;
  display: block;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.jumpbutton{
  float: right;
  line-height: 18px;
}

/* Change color on hover */
a:hover {
  background-color: lightblue;
  color: darkorange;
}


/* Create main content */
.maincontent {
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Satisfy', cursive;
  font-size: 26px;
  color: darkgreen;
}

img{
  float: left;
}

h3 {
  font-family: 'Pacifico';
  color: rgb(114, 40, 11);
}
/* portfolio page */

.work {
  position: relative;
  float: left;
  margin: auto;
  overflow: auto;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
  font-family: 'Satisfy', cursive;
  color: darkgreen;
}


/* Style the footer */
.footer {
  background-color: lightyellow;
  color: grey;
  padding: 10px;
  text-align: center;
}
